/*
.boxes {
  height: 300px;
  border: 2px solid green;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.box {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
}
*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #1D1D1D;
  box-sizing: border-box;
}

.container {
  max-width: 956px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  padding: 30px 0;
  margin: 0;
}

.main-logo {
  width: 120px;
  height: 12px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1D1D1D;
}

.sign-in-button {
  border: 1px solid #E0E0E0;
  padding: 10px 20px;
  font-size: 13px;
}

.basket {
  margin: 0 10px 0 27px;
}

.advetisement-container {
  background-image: url('/Homework_9.4/img/bg-main.jpg');
  background-size: cover;
  background-position: center;
  height: 364px;
}

.advetisement-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  padding: 28px 29px 38px 38px;
}

.advetisement-wrapper h2 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  white-space: nowrap;
}

.advetisement-wrapper > div {
  margin: 0;
  padding: 0;
  margin-top: 54px;
}

.advatisement-time {
  background: #262626;
  border-radius: 16px;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 8px 15px;
}

@media (max-width:768px) {
  .food-navigation {
    display: none;
  }
}

.food-navigation ul {
  margin: 29px 0;
}

.food-navigation__item a:hover {
  color: #327430;
}

.food-navigation__wrapper {
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

h3.snackes-title {
  margin: 32px 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
}

.snackes-item-description {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.snackes-items__wrapper {
  padding: 0;
  box-sizing: border-box;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  margin-bottom: 49px;
}

.snackes-items__wrapper:hover {
  background: rgba(117, 117, 117, 0.04);
  cursor: pointer;
}

@media (max-width:1023px) {
  .snackes-items__wrapper {
    margin-bottom: 32px;
  }
}

.snackes-description {
  font-size: 13px;
  line-height: 21px;
  color: #626262;
}

.snackes-item-img {
  width: 170px;
  height: 160px;
}
