* {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;

  color: #000000;
}

.main-header {
  width: 100%;
  background: #007765;
  position: fixed;
  top: 0;
  align-content: center;
}

.header-container {
  max-width: 1107px;
  margin: 20px auto;
}

.main-logo {
  float: left;
  width: 184px;
  height: 45px;
}

.main-navigation {
  height: 45px;
  float: right;
  display: table;
}

li {
  list-style: none;
  display: table-cell;
  vertical-align: middle;
}

.pole {
  padding: 0 8px;
}

a {
  text-decoration: none;
  height: 20px;
}

.main-navigation a {
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.clear {
  display: table;
  content: ' ';
  clear: both;
}

.first-container {
  height: 403px;
  padding-top: 85px
}

.first-container a {
  font-weight: 500;
  font-size: 72px;
  color: #ffffff
}

.central-container {
  max-width: 1110px;
  margin: 20px auto;
}

.preview {
  display: inline-block;
  height: 100%;
  line-height: 403px;
  width: 100%;
  text-align: center;
  vertical-align: middle;

  background: url("/Homework_6.10/img/PipeNetIsHere.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

h2 {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 48px;

  color: #007765;
}

.problem {
  padding-top: 8px;
  padding-bottom: 92px;
  background: #EEEEEE;
}

.quotation-container {
  height: 483px;
  background: url("/Homework_6.10/img/quotationFull.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.quotation {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 128px;

  color: white;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

.introduction-logo {
  float: left;
  width: 115px;
  height: 115px;
  margin-right: 48px;
}

.theTeam {
  background: #EEEEEE;
}

.staff img {
  border-radius: 50%;
  margin-top: 24px;
}

.team-container {
  width: 100%;
  padding-bottom: 94px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.staff {
  width: 350px;
  height: 283px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 30px;
}

.staff h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  margin: 0;

  color: #007765;
}

.staff p {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;

  color: #000000;
}

footer {
  background: #333333;
  margin: 0;
  padding: 48px 0;
}

.footer-container {
  margin: 0 auto;
  width: 540px;
}

.main-footer {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #FFFFFF;
}

/*Исползуется метод положительного паддинга и отрицательного марджина дабы убрать разницу в шапке*/

#problem {
	padding-top: 60px;
	margin-top: -60px;
	background-clip: content-box;
}
#PiedPiperCoin {
	padding-top: 60px;
	margin-top: -60px;
	background-clip: content-box;
}

#theTeam {
	padding-top: 60px;
	margin-top: -60px;
	background-clip: content-box;
}
